<form #addForm="ngForm">
    <div *ngIf="!addForm.valid" class="alert alert-danger" role="alert">
        The fields with * are required.
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Type of product<a style="color: red">*</a></label>
            <select [(ngModel)]="product.name" name="name" class="form-control">
                <option selected>T-Shirt</option>
                <option>Cup</option>
                <option>Comic</option>
                <option>Toy</option>
                <option>Accessory</option>
                <option>Community</option>
            </select>
        </div>
        <div class="col">
            <label>Price<a style="color: red">*</a></label>
            <input type="number" min="0" [(ngModel)]="product.price" name="price" class="form-control"
                placeholder="Price" required #price="ngModel">
            <div *ngIf="price.errors?.required">
                This field is required.
            </div>
        </div>
        <div class="col">
            <label>Stock<a style="color: red">*</a></label>
            <input type="number" min="0" [(ngModel)]="product.quantity" name="quantity" class="form-control"
                placeholder="Stock" required #quantity="ngModel">
            <div *ngIf="quantity.errors?.required">
                This field is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea type="text" [(ngModel)]="product.description" class="form-control" name="description"
            placeholder="Description"></textarea>
    </div>
    <div class="row align-items-center justify-content-center mt-5">
        <button *ngIf="addForm.valid" class="btn btn-outline-info" (click)="SaveProduct(product,addForm)">Save
            product</button>
        <button *ngIf="!addForm.valid" class="btn btn-secondary" (click)="SaveProduct(product,addForm)" disabled>Save
            product</button>
        <button class="btn btn-outline-info" style="margin-left: 20px" (click)="Cancel()">Cancel</button>
    </div>
</form>