<div class="col-md-auto mt-5">
    <table class="table table-striped">
        <tr class="bg-info">
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td style="word-break: break-all; max-width: 150px;">
                <p>{{product.description}}</p>
            </td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td><button (click)="AddSotck(product)" class="btn btn-outline-info">Add stock</button></td>
            <td><button *ngIf="product.quantity > 0" (click)="SellStock(product)" class="btn btn-outline-info">Sell
                    stock</button>
                <button *ngIf="0 >= product.quantity" (click)="SellStock(product)" class="btn btn-secondary"
                    disabled>Sell stock</button></td>
        </tr>
    </table>
</div>